
@import '../styles/colors.css';


.section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ffd9d9;
    background-image: linear-gradient(rgba(15, 14, 18, 0.129), rgba(13, 11, 18, 0.496)) , url('../../assets/Opening.png');
  background-size: cover;
  background-position: center;
}

.section main{
    color: var(--color-secondarylight);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.section main p{
    margin-top: 24px;
    margin-bottom: 38px;
}

