@import '../../../styles/colors.css';
@import '../../../styles/typography.module.css';
.button {
  width: 272px;
  height: 76px;
  display: flex;

  padding: 2px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color:var(--color-primary);
  color: var(--color-secondarylight);
  border: none;
  cursor: pointer;
}

.button:hover {
  /* background-color: #0056b3; */
}
