@import "../../common/styles/colors.css";

.parent {
  display: grid;
  grid-template-columns: 1fr 50% 25% 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  /* grid-row-gap: 130px; */
  padding: 130px 0px;
}

.left {
  /* height: inherit; */
  grid-area: 1 / 2 / 2 / 3;
  /* background-color: #fff; */
}
.right {
  /* background-color: #ffadad; */
  grid-area: 1 / 3 / 2 / 4;
}
.left article {
  padding-top: 54px;
  max-width: 580px;
  margin-bottom: 64px;
}

/* .left .section {
  color: var(--color-primary);  
} */
