body {
  color: #fffccc;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  body {
    background: url(./assets/bg.gif), lightgray 0% 0% / 100px 100px repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  
}

:root {
  --color-primary: #a08040;
  --color-secondary: #ffce6d;
  --color-secondarylight: #fffccc;

  --color-text: #fff;
  --color-background: #000000;
  --color-backgrounddark: #101418d5;
  /* Add additional color variables for other styles */
}

